<div data-aos="fade-right" class="card">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1a/Terraria_Steam_artwork.jpg/250px-Terraria_Steam_artwork.jpg" alt="Terraria"/>
    <div class="description">
        <h2>Terraria</h2>
        <p>Terraria is a  2D sandbox video game developed by Re-Logic. The game combines exploration, crafting, building, and combat in procedurally generated worlds. Players can dig, fight, build, and discover a wide variety of biomes, items, and powerful bosses.</p>
        <a class="link" href="https://terraria.org/" target="_blank">Official Site</a>
    </div>
<div class="genre">
            <h3 class="heading">Genre:</h3>
            <ul>
                <li>Sandbox</li>
                <li>Adventure</li>
                <li>Survival</li>
                <li>Multiplayer</li>
                <li>Open World</li>
                <li>2D Platformer</li>
            </ul>
        </div>
        </div>