<div data-aos="fade-right" class="card">
    <img src="https://upload.wikimedia.org/wikipedia/ru/f/f4/Minecraft_Cover_Art.png" alt="Minecraft"/>
    <div class="description">
        <h2>Minecraft</h2>
        <p>Minecraft is a sandbox video game developed by Mojang Studios. Players explore a blocky, procedurally generated 3D world with infinite terrain, discovering and extracting raw materials, crafting tools and items, and building structures or earthworks.</p>
        <a class="link" href="https://www.minecraft.net/en-us" target="_blank">Official Site</a>
    </div>
<div class="genre">
            <h3 class="heading">Genre:</h3>
            <ul>
                <li>Sandbox</li>
                <li>Adventure</li>
                <li>Survival</li>
                <li>Multiplayer</li>
                <li>Open World</li>
                <li>3D World</li>
            </ul>
        </div>
        </div>