<div data-aos="fade-left" data-aos-delay="200" class="card">
    <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/d/db/Counter-strike_2.jpg/640px-Counter-strike_2.jpg" alt="Counter-strike-2"/>
    <div class="description">
        <h2>Counter Strike 2(CS2)</h2>
        <p>Counter Strike 2 is a shooting game developed by Valve. The battle is going between 2 teams. Terrorists' objective is to plant the bomb and let the timer reach 0 to explode the boxes on one of 2 plants(A or B). Counter-Terrorists need to hold the timer until the round ends or kill the enemy team.</p>
        <a class="link" href="https://www.counter-strike.net/cs2" target="_blank">Official Site</a>
    </div>
<div class="genre">
            <h3 class="heading">Genre:</h3>
            <ul>
                <li>Shooter</li>
                <li>FPS(First Person Shooter)</li>
                <li>Multiplayer</li>
                <li>3D Graphics</li>
                <li>Action</li>
            </ul>
        </div>
        </div>