<div class="content">
  <div class="description">
    <p>This site is a test project, created solely to demonstrate my main skills and portfolio.</p>
    <p>It is not a real product and has no production-level functionality.</p>
    <p>This is a Single Page Application (SPA) built with Angular.</p>
    <p>It was developed to showcase the following skills:</p>
    <ul>
      <li>Angular</li>
      <li>Routing</li>
      <li>Lazy loading</li>
      <li>Responsive design</li>
      <li>Animations</li>
      <li>Basic functionality with buttons and links</li>
    </ul>
  </div>

  <div class="devdescription">
    <p>Developed by Alex Tadevosyan as a personal portfolio and skill-testing project.</p>
    <p>For more information, please visit my <a href="https://github.com/ievanpolkka" target="_blank">GitHub</a>(click on GitHub).</p>
  </div>
</div>
