<div class="contacts">
    <div class="contact-item">
        <h2>Contact Me</h2>
        <p>If you have any questions or need assistance, please reach out to me.</p>
    </div>
    
    <div class="email">
        <h3 id="emailheading">Email</h3>
        <p>
  <a [attr.href]="'mailto:tadevosyan_alex@list.ru'" rel="noopener noreferrer">tadevosyan_alex&#64;list.ru</a>
</p>


<div class="Telegram">
    <h2 id="telegramheading">Telegram</h2>
    <p><a href="https://t.me/AlexTadevosyan" target="_blank" rel="noopener noreferrer">&#64;AlexTadevosyan</a></p>
</div>


<div class="discord">
    <h2 id="discordheading">Discord</h2>
    <p><a href="https://discordapp.com/users/1274518206782115975" target="_blank" rel="noopener noreferrer">armenia_web_dev</a></p>
</div>
</div>